:root{
    --text-color: rgb(210, 207, 207);
}


* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color:#202020;
}

nav {
    background-color: #202020;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    margin: 10px auto;
    border-radius: 8px;
    padding: 10px 20px;

}

.links{
    color:var(--text-color);
    text-decoration: none;
    margin-left: 15px;

}
.links:hover{
    text-decoration: underline;
    color:white;
}

nav div button{
padding: 5px 10px;
background-color: #fff;
border-radius: 100px;
border-color: #808080;

} 

logos{
    display: flex;
    align-items: center;
}

#download-btn{
    background-color:white;
    color:black;
}

#sign-in-btn{
    background-color: #202020;
    color:var(--text-color)
}

main{
    padding: 100px 165px;
    
   

}

main h1{
    text-align: left;
    font-size: 24.375px;
    color:white;
    
}
main button{
    background-color:white;
    color:black;
    font-size: 20px;
    padding: 10px 20px;
    border-radius: 100px;
    margin: 24px;
    display: inline-block;
    margin-left: 0;
}

main img{
    border-radius: 0.5%;
}

section{
    background-color: #202020;
}
section h2{
    background-color: #202020;
    text-align: center;
    margin: 0px 0px 22.4px;
    color: var(--text-color);
    font-size: 14px;
}
.logo-container{
    padding: 10px;
    background-color: #202020;
    display:flex;
    justify-content:center;
    align-items: center;
    gap:10px;
}
.logo-box{
    background-color: #b1a8a8;
    width: 150px;
    height:100px;
    border-radius: 10%;
    
}

.feature{
    background-color: #524e4e;
    margin:100px 100px 22.4px;
    border-radius: 10px;
    
    
}
.feature-container{
    display:flex;
    justify-self: center;
    align-items: center;
}
.feature-text{
    width:50%;

}
.first-text, .second-text, .anchor-link{
    padding-left: 40px;
    font-size: 20px;
}
.first-text{
    color:#fff;
}
.feature-image{
    background-color: #474545;
    
}


.feature-image img{
    width:100%;
    height: auto;
    padding: 10px 20px;
    border-radius: 3%;
}

.anchor-link{
    display:flex;
    justify-self: flex-start;
    gap: 10px;
    margin-top:10px;
}
.anchor-link a{
    text-decoration: none;
    color: rgb(229, 116, 11);
}   
.second-text{
    color:#cdc8c8;
    font-weight: 500;
}

.cards-feature{
    background-color:#202020;
    padding: 80px 100px;
}

.heading{
    text-align: center;
    margin-bottom: 70px;
    color:var(--text-color);
}
.card-container{
    background-color:#202020;
    
    display:grid;

    grid-template-columns: repeat(3, 1fr);

    gap:10px;
}
.card{
    background-color: #524e4e;
    height:300px;
    border-radius: 10px;
    padding:25px;
    color:var(--text-color);

    display: flex;
    flex-direction: column;
   
}
.card-image {
    border-radius: 80%;
}
.card-lower-portion{
    margin-top:auto;
    display: flex;
    gap:10px;
}
.card-lower-portion span{
    color:#dbd4d4;
    font-weight: 150;
}
.card-lower-portion h5{
    font-weight: 500;
}



#frontier{
    text-align: start;
}

.diff-cards{
    background-color:#202020;
    padding: 80px 100px;
}
.diff-cards h1{
    padding-left: 10px;
    color: var(--text-color);
    font-weight: 340;
}
.diff-card-container{
    background-color:#202020;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap:10px;
    padding: 40px 20px;

}
.diff-card{
    background-color:#524e4e;
    height:500px;
    border-radius: 8px; 
    color: var(--text-color);
    padding-top: 15px;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap:12px;

}

.diff-card-image{
    background-color: #fff;
    width:350px;
    height:350px;
    border-radius: px;
    
}
.diff-card-image img{
    width:100%;
    height: 100%;
    object-fit: cover;
}

.diff-card-text p span{
    color: rgb(254, 252, 252);
}
.link{
    color:rgb(229, 116, 11);
    text-decoration:none;
}
.link:hover{
    text-decoration: underline;
}

/* changelog css */

.changelog {
    background-color: #202020;
     padding: 80px 100px;
}
.changelog h1{
    padding-left: 10px;
    font-weight: 340;
    color: var(--text-color);
}

.changelog-boxes{
     display:flex;
     justify-content: space-evenly;
     align-items: center;
     gap:10px;

    margin-left: 20px;
    margin-right: 20px;
    margin-top:20px;
    margin-bottom: 20px;
     
  background-color: #202020;
}
.changelog-box{
   

    width:330px;
    height:120px;
    background-color: #524e4e;
    border-radius: 5px;
    padding: 15px 5px;
    color: var(--text-color);

}
.text-below-date{
    margin-top:30px;
    color:#fff;
}
.changelog-a-tag{
    text-decoration: none;
    color:rgb(229, 116, 11);
    padding-left: 20px;
   
    
}

.last-section{
    background-color: #524e4e;
    margin-top: 250px;
    

}

#last-para{
    background-color:  #524e4e;
    padding-left: 100px;
    padding-top:110px;
    width:20%;
    font-weight:500;
    color:var(--text-color)
    
}

.last-section-boxes{
    background-color:#524e4e;
    margin-left: 450px;
    margin-right: 250px;
    padding: 10px 20px;
}
.last-section-box{
    display: flex;
    flex-direction: column;
    margin-top: auto;

    background-color: #696464;
    width:600px;
    height:150px;
    border-radius: 8px;
    margin-bottom: 10px;
    color:var(--text-color);
    padding:10px 10px;
    
}
.highlight-date{
    margin-top: auto;
}

.final-cta {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 150px;
     margin-bottom: 150px;
    
}
.final-cta p{
    color: var(--text-color);
    font-size: 70px;
    font-weight: 20px;
}


.final-cta button{

    background-color: white;
    color:black;
    font-size: 20px;
    padding: 10px 20px;
    border-radius: 100px;
    margin: 24px;
    display: inline-block;
    margin-left: 0;

}

.footer-container{
    display:grid;
    grid-template-columns: repeat(5,1fr);
     align-items: start;
}

.footer-cloumn{
    display:grid;
    gap:10px;
   color:#dcd2d2;
}
.footer-cloumn a {
     text-decoration: none;
     color:white;
}
.footer{
    padding: 80px 100px;
    background-color: #524e4e;
}
.footer-bottom{
    background-color:#524e4e;
    display:flex;
    justify-content: space-between;
    align-items: center;
    margin-top:60px;

}

.footer-bottom-right{
    background-color:#524e4e;
    display:flex;
    justify-content: space-between;
    gap:5px;
    align-items: center;

}

.theme-toggle{
    background-color: #9d8e8e;
    padding-left: 18px;
    border-radius:10px;
    width: 100px;
    height:30px;
}

.theme-toggle-button{
    background: transparent;
    border: none;
    outline: none;
    cursor: pointer;
    margin-left:1px;
    margin-right:4px;
}


.language {
background-color: #9d8e8e;
    padding-left: 18px;
    border-radius:10px;
    width: 100px;
    height:30px;
}